input {
    min-height: 60px;
    max-width: 600px;
    min-width: 400px;
    /* width: 100%; */
    border: 1px solid #000;
    background: #F9EFE4;
    box-shadow: 8px 8px 1px #C8C2BA;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 2rem;
}

input:focus, input:active, input:hover, input:focus-visible, input:visited, input:target, input:focus-within {
    border: 1px solid #000;
    background: #F9EFE4;
    box-shadow: 8px 8px 1px #C8C2BA;
    outline: none !important;
}

form:focus, form:active {
    border: none;
    outline: none !important;
}

.error {
    margin-top: 2rem;
}